* {
  margin: 0;
  padding: 0;
}

.body {
  background-color: #fff;
  color: #000;
}

.body-wrap {
  width: 1110px;
  height: 100vw;
  box-sizing: border-box;
  background-color: lightgrey;
  margin: 0 auto;
  padding: 30px;
  opacity: 100%;
}

.header {
  margin: 0 0 25px 0;
}

.header-top {
  width: 390px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.header-icon {
  width: 35px;
  height: 35px;
  background-image: url(/img/yandex-icon.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

hr {
  margin: 30px 0;
}

.h2 {
  text-align: center;
  line-height: 1.5;
  margin: 0 0 25px 0;
}

.header-abote {
  font-size: 22px;
  margin: 0 0 10px 0;
}